---
layout: concept.njk
title: 小朋友財商課
permalink: /courses/kids/
ill: kids
bg: "#F5D77F"
fg: "#2E3135"
eyebrow: 小朋友・國小低中高年級
headline: 從小<span class="hgap"></span>就懂錢從哪裡來
lead: 用遊戲和生活例子，認識賺錢、存錢與分享
intro: 孩子對錢的態度，多半在小學階段就開始成形。與其等長大再補救，不如從生活中的小事開始，讓孩子知道錢是怎麼來的、為什麼要等待、怎麼做選擇
levels:
  - t: 低年級
    d: 認識錢幣和紙鈔，知道錢是用工作和時間換來的，練習等待
  - t: 中年級
    d: 分辨需要與想要，用零用錢練習記帳，設定第一個存錢小目標
  - t: 高年級
    d: 學會做預算、比價與選擇，認識銀行與利息，也學會分享
topics:
  - t: 錢從哪裡來
    d: 從爸爸媽媽的工作、交換與有限的資源，理解錢的來源
  - t: 需要還是想要
    d: 用生活情境練習判斷，學會先想一想再決定
  - t: 三個存錢罐
    d: 把零用錢分成存下來、日常用與分享給別人
  - t: 存錢小目標
    d: 設定想要的東西，算算看要存幾週，體會等待的價值
formats: [學校課程, 自學團體, 社團]
ctaTitle: 想為孩子或班級安排課程？
ctaExtra: {t: 帶孩子逛逛小朋友版, href: /junior/}
---
