---
layout: concept.njk
title: 大小孩金融先修課
permalink: /courses/teens/
ill: teens
bg: "#CADFE0"
fg: "#2E3135"
eyebrow: 大小孩・國中 高中 大學
headline: 走進社會前<br>先修好金融課
lead: 銀行、信用、投資與常見的金融陷阱，一步一步學會
intro: 開始打工、有了第一張金融卡、第一次網購分期，大小孩接觸金錢的機會越來越多。提早建立正確觀念，走進社會時才不會慌張，也不容易掉進陷阱
topics:
  - t: 認識銀行與帳戶
    d: 存款、轉帳、利息與手續費，學會管理自己的第一個帳戶
  - t: 信用與借貸
    d: 信用卡、分期付款與信用紀錄，了解借錢的真正成本
  - t: 投資入門
    d: 風險與報酬、複利與長期投資，建立正確的投資觀念
  - t: 避開金融陷阱
    d: 求職打工詐騙、網路購物與投資詐騙，學會辨識與拒絕
formats: [校園與團體課程]
ctaTitle: 想為學校或團體安排課程？
---
