{% set lvd = difficulty[lv - 1] %}<span class="lvl lvl-{{ lv }}" title="{{ lvd.name }}・{{ lvd.label }}：{{ lvd.desc }}">{% include "lvl-icon.njk" %}<span>{{ lvd.name }}<i>{{ lvd.label }}</i></span></span>
